apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp
  namespace: mateapp
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: todoapp
  template:
    metadata:
      labels:
        app: todoapp
    spec: 
      containers:
      - name: todoapp
        image: ikulyk404/todoapp:3.0.0 
        imagePullPolicy: Always 
        ports:
        - containerPort: 8080
        resources:
          requests: 
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 8080
          initialDelaySeconds: 60 # Как в задании
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /api/ready  
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5